body{
	margin:0;
	padding:0;
}

.navbar li:hover{
	text-decoration: underline;
}

.cardbtn{
	height:200px;
	text-align:center;
	border-radius:5%;
	margin:10px auto;
	overflow:hidden;
}

.cardbtn a{
	color:#fff;
}

.cardbtn a:hover{
	text-decoration:none;
}

.img-bkgd-a{
	background-image:url('../img/backgroundimg.png');
	background-size:cover;
	transition: all .5s;
}
.img-bkgd-a:hover{
	transform: scale(1.05);
}

.cardbtn h4{
	line-height: 200px;
}

.bg-dblue{
	background-color:#06284f;
}

.bg-broad{
	background-image: url("../img/broadbkgd.png");
	background-size:cover;
}

.bg-broad h1{
	color:#ddfff7;
}

.bg-broad p{
	color:#fff;
}
.nav-item{
	padding:5px;
	margin:5px;
	text-align:center;
	border-radius:5px;
}

.header{
	padding-top:30px;
	padding-bottom:30px;
}

.separate{
	width:100%;
	height:5px;
	background-color:#2660a4;
}

.more-pad-30-top{
	padding-top:30px;
}
.more-pad-30-bottom{
	padding-bottom:30px;
}
footer a{
	color:#ddfff7;
}

footer a:hover{
	color:#4abb0d;
}
.ident{
	color:#0d9cd4;
}

.bg-blue{
	background-color:#0d9cd4;
}

.card{
	box-shadow:-5px 5px 10px rgba(0,0,0,0.5);
}

.btn{
	background-color:#2e7508;
	border:none;
}

.btn:hover{
	background-color:#4abb0d;

}

.contact-photo{
	max-height:200px;
}

.provider-photo{
	max-height:100px;
}

.accordion .btn{
	background-color:rgba(0,0,0,0);
}


.indent{
	text-indent:30px;
}

.custom-container{
	margin-left:7rem;
	margin-right:7rem;
}

.grow{
	transition-duration: .5s;
}

.grow:hover{
	transform:scale(1.03,1.03);
-webkit-transform:scale(1.03,1.03);
-moz-transform:scale(1.03,1.03);
}
.dropdown-menu{
	background:#26529e;
	border:none;
	border-radius:0;
}
.dropdown-menu li a{
	color:rgba(255,255,255,0.5);
	background:#26529e;
}

.dropdown-menu li a:hover{
	background:#26529e;
	color:#fff;
}

.dropdown-menu li .active{
	color:#fff;
	background:#26529e;
}

.dropdown-menu .show{
	color:#fff;
	background:#26529e;
}

.graphic{
	max-width:125px;
}

.tooltip-btn{
	background-color:rgba(0,0,0,0);
	color:#2660a4;
	font-weight:bold;
	height:15px;
	width:15px;
	border:none;
	font-size:.7rem;
	text-align:center;
}

.provider-table{
	font-size:.9rem;
	width:100%;
}

.provider-table td{
	width:16.6%;
}

.provider-table th{
	width:16.6%;
	cursor:pointer;
}

.table-fixed tbody {
height: 500px;
overflow-y: auto;
width: 100%;
}
.table-fixed thead,
.table-fixed tbody,
.table-fixed tr,
.table-fixed td,
.table-fixed th {
display: block;
}
.table-fixed tr:after {
content: "";
display: block;
visibility: hidden;
clear: both;
}
.table-fixed tbody td,
.table-fixed thead > tr > th {
float: left;
}


.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4abb0d;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4abb0d;
  cursor: pointer;
}

.card-img-top{
	max-width:200px;
}

.pie{
	width:50%;
	height:500px;
}

.bar{
	width:100%;
	height:300px;
}

.pielong{
	width:100%;
	height:500px;
	background:pink;
}


.logo{
	height:50px;
	margin-left:50%;
}

.bg-lblue{
	background-color:#26529e;
}

.mainnav{
	min-height:45px;
}

.communitynav{
	min-height:60px;
}

.mainnav2{
	min-height:45px;
	position:absolute;
	z-index:500;
}

.communitynav2{
	min-height:60px;
	position:absolute;
	z-index:500;
}

.mapkeycollapsible {
  background-color: #2e7508;
  position:fixed;
  right:5%;
  bottom:0%;
  color: white;
  cursor: pointer;
  width: 250px;
  padding:5px;
  border: none;
  border-radius:10px 10px 0px 0px;
  text-align: center;
  outline: none;
  font-size: 15px;
  z-index:300;
}

.mapkeyexpanded, .mapkeycollapsible:hover {
  background-color: rgba(74, 187, 13, 0.75);
}

.mapkeyexpanded {
  bottom:250px;
}

.mapkeycontent {
  position:fixed;
  right:5%;
  height:0px;
  width:250px;
  display: none;
  padding:5px 20px;
  overflow: hidden;
  background-color: rgba(230,230,230,0.6);
  z-index:300;
}

.mapkeycontent ul{
	list-style-type:none;
	list-style-position:inside;
	margin-left:0;
	padding-left:0;
	float:left;
}

@media (max-width:576px){
	.contact-photo{
		max-height:150px;
	}
	.contacts{
		text-align:center;
	}
	.header-img{
		max-width:300px;
	}
	.card-img-top{
		max-width:200px;
	}
	.custom-container{
		margin-left:1rem;
		margin-right:1rem;
	}
}

@media (min-width:576px) and (max-width:992px){
	.mainnav{
		height:auto;
	}
	.communitynav{
		height:auto;
	}
	.mainnav2{
		height:auto;
	}
	.communitynav2{
		height:auto;
	}
}


@media (max-width:576px){
	.mainnav2{
		height:auto;
	}
	.communitynav2{
		height:auto;
	}
}

@media (min-width:992px){
	.mainnav{
	height:45px;
}

.communitynav{
	height:60px;
}
	.mainnav2{
		height:45px;
	}
	.communitynav2{
		height:60px;
	}
}